/* Style reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:12px;
    line-height:12px;
    vertical-align:baseline;
    background:transparent;
    font-style:normal;
}

article, footer, header,
nav, section {
    display:block;
}

nav ul {
    list-style:none;
}

mark {
    font-style:normal;
    font-weight:bold;
}

a {
  outline-style:none;
}
input, select {
    vertical-align:middle;
}

/* Contact form
-----------------------------------------------------------------------------*/

#contentForm {
    display: block;
    width: 400px;
    margin: 5px auto;/* #this line will center the page */
    padding: 25px;
    background-color: white;
}
#contentForm h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #d36d00;
}
label {
    display: block;
    margin: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #888888;
}
input, textarea, select {
    width: 250px;
    font-size: 1em;
    color: #666666;
    background: #F5F5F5;
    border: 1px solid #ccc;
    display: inline-block;
    float: right;
}
input:focus, textarea:focus, select:focus {
    border: 1px solid #999;
    background-color: #FFFFFF;
}
input.button {
    cursor: pointer;
    border: none;
    font-weight: bold;
    background: url(images/submit.jpg) no-repeat left top;
    width: 90px;
    height: 28px;
    margin-left: 150px;
    outline-style: none;
}
span.required{
    font-size: 13px !important;
    color: red !important;
}
.errormsg {
    display: block;
    width: 90%;
    height: 1.833333em;
    line-height: 1.833333em;
    color: #FFFFFF;
    font-weight: bold;
    background: #FF9D9D url(images/stop.gif) no-repeat 10px center;
    padding: 3px 10px 3px 40px;
    margin: 10px 0;
    border-top: 2px solid #FF0000;
    border-bottom: 2px solid #FF0000;
}
.msgSent {
    font-family: Arial, sans-serif;
    font-size: 1.7em;
    line-height: 1.7em;
    color: #009900;
    text-align: center;
}
