/* Style reset
-----------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:11px;
	line-height:18px;
    vertical-align:baseline;
    background:transparent;
    font-style:normal;
}

article, footer, header,
nav, section {
    display:block;
}

nav ul {
    list-style:none;
}

mark {
    font-style:normal;
    font-weight:bold;
}

a {
  outline-style:none;
}
input, select {
    vertical-align:middle;
}

/* Main element
-----------------------------------------------------------------------------*/

#bio-container {
    height: 189px;
    width: 620px;
    margin: 0 auto 15px;
    color: #515151;
}
#bio-container .photo  {
    margin: 20px 30px 20px 50px;
    border: 4px solid #ededed;
    float: left;
}
#bio-container .vCard {
    float: left;
}
#bio-container .fn {
    font-family: "Times New Roman", Times, serif;
    font-size: 3em;
    line-height: 2em;
}
#bio-container .job {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.45em;
}
#bio-container .street-address, .locality, .country-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.9em;
}
#bio-container .street-address span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#bio-container .tel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.9em;
}
#bio-container .tel span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
#bio-container .email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.9em;
}
#bio-container .email span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.nav {
    display: none;
    float: none;
}
article {
   margin: 0px;
   padding: 0px 30px 0px 30px;
}
article h1 {
    width: 250px;
    margin: 0 auto;
    padding: 0px auto 5px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    text-align: center;
    border-bottom: thin solid #515151;
	font-size: 1.73em;
	line-height: 1.1em;
	margin-bottom: 1.1em;
}
.duotone li {
    list-style-image: url(images_old/duotone-bullet.gif);
    margin-left: 25px;
    padding-bottom: 30px;
    padding-left: 10px;
}
article ul.monotone {
    padding-top: 15px;
}
.monotone li {
    list-style-image: url(images_old/monotone-bullet.gif);
    margin-left: 35px;
    padding-left: 10px;
    padding-bottom: 8px;
}
article h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    margin: 0;
	font-size: 1.5454545454545454em;
	line-height: 1.8em;
	margin-bottom: 0.3em;
}
article h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    margin: 0;
	font-size: 1em;
	line-height: 1.6em;
}
article mark {
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: center;
    color: #FFFFFF;
    width: 140px;
	height: 29px;
    background: url(images_old/icons.gif) 0px -56px no-repeat;
    display: inline-block;
	line-height: 0.9em;
    float: right;
}
article details {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 2.5em;
    margin-bottom: 0.4em;
    color: #888888;
}
article p {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #515151;
    text-align: left;
    margin: 0;
	font-size: 1em;
	line-height: 1.6363636363636365em;
}
