/*
	Prologue by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 14pt;
	}

	h2
	{
		font-size: 1.5em;
		letter-spacing: 0;
		font-weight: 300;
	}

	.container
	{
		padding: 0 15px 0 15px;
	}


	/* List */

		ul
		{
		}

			ul.icons
			{
			}	
			
				ul.icons li
				{
				}
				
					ul.icons a
					{
						width: 1.75em;
						font-size: 1.5em;
					}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

		#main > section
		{
			padding: 2em 0;
		}

		#main section.cover
		{
			padding: 4em 0em;
		}
		
			#main section.cover header
			{
				padding: 0 1em;
			}
			
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
	}

		#footer .copyright
		{
		}
			
			#footer .copyright li
			{
				display: block;
				line-height: 1.25em;
				border: 0;
				padding: 0;
				margin: 1em 0 0 0;
			}
			
			#footer .copyright li:first-child
			{
				margin-top: 0;
			}
